<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections></configSections>
	<connectionStrings>
		<add name="connectionString" connectionString="Data source=DESKTOP-4JGHNP2; Initial Catalog=startup; Integrated Security = true"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--
	<appSettings>
		<add key="parentTable" value="CarBrands"/>
		<add key="parentPrimaryKey" value="BrandId"/>
		<add key="childTable" value="Cars"/>
		<add key="childForeignKey" value="BId"/>
		<add key="parentQuery" value="SELECT * FROM CarBrands"/>
		<add key="childQuery" value="SELECT * FROM Cars"/>
	</appSettings>-->
	

	<appSettings>
		<add key="parentTable" value="Drone_Manufacturer"/>
		<add key="parentPrimaryKey" value="ManufacturerId"/>
		<add key="childTable" value="Drone_Model"/>
		<add key="childForeignKey" value="MfId"/>
		<add key="parentQuery" value="SELECT * FROM Drone_Manufacturer"/>
		<add key="childQuery" value="SELECT * FROM Drone_Model"/>
	</appSettings>
</configuration>